/* BODY */
.App {
  
  width: 80%;
  margin: auto;
}
.child {
  border-bottom: 1px solid black;
  background-color: #FFFEF4;
  color: #7D7C78;
  font-family: font83278;
}
h1 {
  font-size: 20px;
}
h2 {
  font-size: 15px;
}
button, .input{
  color: #7D7C78;
  background-color: #FFFEF4;
  border: 1px solid #7D7C78;
  padding: 10px;
  font-family: font83278;
}
.login, .input {
  border: none;
}
.input {
  background-color: wheat;
}
/* HEADER */

/* NAV */

/* MAIN */
.main {
  height: 500px;
  background-image: url('/aesop-mockup/src/Aesop-Homepage-Banner.jpg');
}
.main .aesop {
  text-align: left;
}
.main .description {
  text-align: center;
}
.main .title {
  text-align: center;
}
/* ESSENTIALS */
.essentials {
  display: grid;
  grid-template-areas: "left right";
  text-align: left;
}
.left {
  grid-area: left;
  width: 300px;
}
.right {
  grid-area: right;
}
/* ARCHITECTURE */
.arch-comp {
  display: grid;
  grid-template-areas: "column1 column2"
                        "row row";
}
.arch-comp .column1 {
  grid-area: column1;
}
.arch-comp .column2 {
  grid-area: column2;
  margin-left: 200px;
}
.arch-comp .row {
  grid-area: row;
}
.slide-container {
  margin: auto;
  width: 900px;
  text-align: center;
  
}
/* DISCOVER */
.discover {
  display: grid;
  grid-template-areas: "image column1 column2"
                        "row row row";
}
.discover .column1 {
  grid-area: column1;
}
.discover .column2 {
  grid-area: column2;
}
.discover .row {
  grid-area: row;
  
  
}
/* FOOTER */
.footer {
  display: grid;
  grid-template-areas: 
    "footer1 footer2 footer3 footer4";
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: left;
}
ul {
  list-style: none;
}
.footer1 {
  grid-area: footer1;
  
}
.footer2 {
  grid-area: footer2;
}
.footer3 {
  grid-area: footer3;
}
.footer4 {
  grid-area: footer4;
}