
/* ************** Odyssey_Format Component***************** */


.mythicalContainer {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  background-color: #FFFEF7;
}

.mythSectionLeft {
  float: left;
  width: 50%;
  max-width: 500.27px;
  margin-left: 40px;
  padding: 0 40px;
}

.imgContainer {
  float: right;
  width: 50%;
  height: 25%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.mythPhoto {
  width: 100%;
  height: 95%;
}

.button {
  background-color: #FFFEF7;
  color: #333;
  border: 1px solid rgba(51, 51, 51, .2);
  height: 60px;
  min-width: 210px;
  padding: 0 23px;
  font-family: sans-serif;
}

.button:hover {background-color: #e7e7e7;}

/* ********************************************** */